.encabezado{
    display: flex;
    justify-content:center;
    margin-top: 40px;
    margin-left: 65px;
    margin-right: 65px;
    background-color: rgb(243, 162, 11);
    border-radius: 20px;
    transition-property: all;
    transition-duration: 2s;
    .logo{
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
     &:hover{
        transform: scale(1.1);
    }
}