h1{
    font:$size;
    margin-left: 15px;
    padding: 30px;
}
h2{
    display: flex;
    justify-content:center;
    padding: 10px;
    border: 20px;
    margin:20px;
}
h3{
    display: flex;
    justify-content: center;
    color: blue;
    margin:10px;
    font-size: 20px;

}